body {
	margin: 0 auto;
	text-align: center;
	background-image: url('curtains.jpg');
}

#seating-area {
	width: 98%;
	margin: 0 auto;
}

.row {
	width: 100%;
}

.seat {
	width: 10%;
	display: inline-block;
  border-radius: 8px;
	background-color: #0ebaa1;
	border-style: ridge;
	margin: 1%;
}
/* hover hover seat */
.seat:hover {
    background-color:  #c6ff6b;;
}
/*styling form and buttons*/
#submit-btn {
  border: 1px solid #777777;
  background: #c6ff6b;
  font: bold 14px 'Trebuchet MS';
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/*form styles*/
#reservation-form{
	width: 13%;
	margin: 0 auto;
	padding: 15px;
	border-radius: 10px;
	border-style: inset;
	background-color: #0ebaa1;

}
#book {
  /*margin-top: 10px;*/
	line-height: 30px;

}
input {
  padding-bottom: 15px;
}

.theaterName {
	margin-top: 10%;
}

.seatDisplayButton {
	width: 150px;
	height: 75px;
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
}

h1 {
	font-family: 'Russo One', sans-serif;
	font-size: 40px;
	color: white;
}
