body {
	margin: 0 auto;
	text-align: center;
	background-image: url('curtains.jpg');
	font-family: 'Roboto', sans-serif;
}

#seating-area {
	width: 98%;
	margin: 0 auto;
}

.row {
	width: 100%;
}

.seat {
	width: 10%;
	display: inline-block;
  	border-radius: 8px;
	background-color: #E5E7E6;
	border-style: ridge;
	margin: 1%;
}
/* hover hover seat */
.seat:hover {
    background-color:  #646362;
}
/*styling form and buttons*/
#submit-btn {
  border: 1px solid #777777;
  background: #646362;
  font: bold;
	font-size: 20px;
color:		#E5E7E6;
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
	font-family: 'Roboto Mono', monospace;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
/*form styles*/
#reservation-form{
	width: 80%;
	margin: 0 auto;
	padding: 15px;
	border-radius: 10px;
	border-style: inset;
	background-color: rgba(200, 27, 20, 0.75);

}
#book {
  /*margin-top: 10px;*/
	line-height: 30px;
}

input {
	width: 40%;
  	padding-bottom: 1%;
}

#request {
	width: 82%;
}

.theaterName {
	margin-top: 2%;
	border-radius: 10px;
}

.seatDisplayButton {
	width: 150px;
	height: 100px;
	margin-bottom: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	color: white;
	border-radius: 10px;
	background: linear-gradient(-70deg, #1b1e1e, #404747, #96aaaa, #707c7c, #404747, #1b1e1e);
}

h1 {
	font-family: 'Roboto Mono', monospace;
	font-size: 40px;
	color: white;
}
